h1{
  color: red;
  font-size: 200px;
}

img:hover{
  background-color: gold;
}

.bacon{
  background-color: green;
  width: 150px;
}
.broccoli{
  background-color: red;
  width: 150px;
}
.circular{
  border-radius: 100%;
}

#heading{
  color: blue;
}
